* {
    font-family: 'Ubuntu', sans-serif;
}

body {
    background-image: url('../tilesets/img/falling_snow.gif');
    background-repeat: no-repeat;
    background-size:cover;
    color:azure;
}


canvas {
    margin: auto;
    height: calc(100dvh - 25px);
    /* width: 100vh; */
    aspect-ratio: 1/1;
    grid-area: canvas;
}

.help {
    margin:auto;
    font-size: 26px;
    grid-area: left;
}

.playground_box {
    display: flex;
}

.game_info {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    font-size: 26px;
    grid-area: right;

}
.game_info p {
    margin: 0;
}

.game_info button {
    background-color: azure;
    font-size: 26px;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.game_info button:hover {
    background-color: #dcdcdc;
}


.playground_box {
    display: grid;
    grid-template-columns: 1fr calc(100vh - 25px) 1fr;
    grid-template-areas: "left canvas right";
}