

body {
    background-image: url('../tilesets/img/falling_snow.gif');
    background-size:cover;
    background-position: center;
}


canvas {
    margin: auto;
    height: calc(100dvh - 25px);
    /* width: 100vh; */
    aspect-ratio: 1/1;
}

.playground_box {
    display: flex;
}

#end_game_message {
    display: flex;
    position: absolute;
    top:50%;
    left:50%;
    transform: translateX(50%) translateY(50%) ;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 20px;
    background-color: #f0f0f000;
    border: 1px solid #ccc;
    text-align: center;
    font-size: 18px;

    z-index: 1;
}